/* Google Fonts */
body {
    font-family: 'Raleway', sans-serif;
    background-color: #f7f9fc;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Heading */
.heading {
    background-color: #6c63ff;
    color: white;
    padding: 20px;
    font-family: 'Righteous', cursive;
}

.logo {
    height: 50px;
    vertical-align: middle;
    margin-right: 10px;
}
